.dots{
	position: absolute;
	right: 20px;
	height: 240px;
	width: 24px;
	z-index: 1000;
	top: 150%;
	margin-top: -120px;
	text-align:center;

	@include mq(phone){
		display: none;
	}


	ul{
		list-style-type: none;
		padding:0;
	}

	li:first-child{
		margin: 0 0 10px 0;
	}

	li{
		margin: 10px 0;
	}

	li:last-child{
		margin:10px 0 0 0;
	}
	
	span{
		width: 15px;
		height: 15px;
		display: inline-block;
		cursor: pointer;
		background: rgba(255,125,37,.3);
		position: relative;
		border-radius: 15px;
		transition: background .3s ease-in-out;
	}

	.active{
		background:rgba(255,125,37,.8);
	}
}

.dots-fixed{
	position:fixed;
	top: 50%;
}