$float-orange: #FF7D25;
$float-orange-o: rgba(255,125,37, .95);
$float-white: #fafafa;
$float-white-o: rgba(250, 250, 250, .40);
$float-black: #3f3f3f;
$creek-color: #415a77;
$forge-color: #0098c2;
$bezier: cubic-bezier(.19,.3,.35,.96);