*{
	text-decoration:none;
	-webkit-tap-highlight-color: transparent;
}

::selection{
	background: $float-orange;
	color: $float-white;
}

/* html,body{
	width:100%;
	height:100%;
	min-height:100%;
	font-size:100%;
	font-family:'Lato', 'Open Sans', sans-serif;

	@include mq(break2){
		font-size: 95%;
	}

	@include mq(phone){
		font-size: 88%;
	}


} */

/* body{
	background:$float-orange;
	position:relative;
} */

.container { 
	margin: 0 auto; 
	max-width: 90%;
	height: 100%;
}

.container:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

.full-opacity{
	opacity: 1 !important;
}

.zero-opacity{
	opacity: 0 !important;
}

.hard-accell{
	transform: translate3d(0,0,0);
}

/******** Logo ********/
.logo{
	height:40px;
	width:138px;
	padding:0;
	margin-top:20px;
	margin-left:20px;
	z-index:100;
	position: absolute;
	top:100%;

	a svg{
		width: 138px;
		height:40px;
		opacity: 1 !important;
	}

	@include mq(phone){
		display: none;
	}
}

.logo-fixed{
	position: fixed;
	top: 0%;
}


/******** General Div Attribute ********/
#mission, #process, #servicesIntro, #services, #works, #contact{
	width:100%;
	min-height:100%;
	background: $float-white;
	
	display: flex;
	align-items: center;

	.center-content{
		margin:auto;
	}

	h2{
		color: black;
	}
}

/* .center-content{
	-webkit-transform-style:flat;
	z-index: 10;
	-webkit-transform: translate3d(0,0,0);
} */
/******** Top Page ********/
/* #home {
	width:100%;
	min-height:100%;
	position:relative;
	text-align:center;
	z-index:-1;

	.fixed-center-wrapper{
		background: url("../../images/orange.jpg") center center no-repeat;
		background-size: cover;
		position: fixed;
		transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		transform-style:flat;
		width: 100%;
		height: 100%;
		display: flex;
		top:0;
		z-index:0;
		@include mq(phone){
			background: url("../../images/orange-mobile.jpg") center center no-repeat;
			background-size: cover;
		}
	}
	.fixed-center-content{
		z-index: 0;
		margin: auto;
	}

	p{
		font-size:1.8em;
		font-weight:normal;
		font-family: 'Lato';
		letter-spacing: 18px;
		text-transform: uppercase;
		color:$float-orange;
		font-weight: 400;
		margin-bottom:0;
		margin-top:20px;
		padding:0;
		padding-left: 10px;
		opacity: 1 !important;

		@include mq(phone){
			font-size: 1.5em;
			letter-spacing: 16px;
			padding-left: 15px;
		}
	}

	.logo1{
		width:400px;
		height: 400px * 0.362;
		opacity: 1 !important;

		@include mq(phone){
			width: 300px;
			height: 300px * 0.362;
		}
	}
} */

#mission{
	text-align: center;

	h1{
		color:$float-orange;
	}

	p{
		margin-bottom: 0;
		z-index: 1000;
		max-width: 70%;
	}

	@include mq(phone){
		p{ 
			max-width: 90%;

		}
	}

	.center-content{
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
	}
}
/******** Services ********/
#servicesIntro{
	.part1{
		h1{
			color: $float-orange;
		}

		p{
			margin-bottom: 0;
			max-width: 70%;

			@include mq(phone){
				max-width: 90%;
			}
		}
	}

	.center-content{
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
	}
}

.servicesBody{
 	background: $float-black;
 	position: relative;
 	width: 100%;
 	float: left;

 	h1{
 		color: $float-orange;
 		margin-top: 80px;
 	}

 	h1:first-child{
 		margin-top: 80px;
 		padding-top:0;
 	}

 	p{
 		color: $float-white;

 		@include mq(phone){
 			margin: 0 10px 60px 10px;
 		}
 	}

 	h2{
 		text-align: left;
 		color: $float-orange;
 	}

 	.servicesText{
 		margin:0 20px 0 120px;

 		@include mq(phone){
 			margin: 0 0 0 120px;
 		}

 		p{
 			text-align: left;
 			font-size: 1.2em;
 			margin:0;
 			line-height: 1.4em;
 			padding:0;

 			
 		}
 	}

 	img{
 		vertical-align: middle;
 		float:left;
 		border-radius: 100px;
 	}

 	.svg-wrap{
		width: 100px;
		height: 100px;
		float: left;
		vertical-align: middle;
	}

 	svg{
 		width: 100%;
 		height: 100%;
 	}

 	.container{
 		max-width: 1140px;

 		@include mq_once(1140px){
 			max-width: 90%;
 		}
 	}

 	.responsive{
 		width:100%;
 		float: left;
 		text-align:center;

 		.half{
 			width:50%;
 			float: left;
 			padding-bottom: 20px;

 			@include mq(break2){
 				width: 95%;
 				margin-left: 2.5%;
 			}
 		}
 	}

 	.last{
 			margin-bottom: 80px;
 	}
}

/******** Process ********/
#process{
	background: $float-black;
	text-align: center;
	position: realtive;

	@include mq(phone){
		padding-top: 60px;
		padding-bottom: 40px;
	}

	h1{
		color: $float-orange;
		@include mq_once(900px){
			margin-top: 80px;
		}
	}
	h2{
		color: $float-orange;
		margin: 10px 0 8px 0;
		font-size: 1.5em;
		word-spacing: 600px;
		line-height: 1em;
	}
	p{
		color: $float-white;
		
		@include mq(phone){
			margin-bottom: 30px;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 1.4em;
		
		}
	}

	.half p{
		margin:0 20px;
		font-size: 1.2em;	
		line-height:1.4em;
		padding:0;
		margin-bottom: 50px;
	}

	.svg-wrap{
		width: 160px;
		height: 160px;
		display: inline-block;

		@include mq(phone){
			width: 120px;
			height: 120px;
		}
	}
	
	svg{
		width:100%;
		height:100%;
		margin-bottom: 40px;

		@include mq(phone){
			margin-bottom: 5px;
			margin-top: 20px;
		}
	}

	.container{
		max-width: 1140px;
	}

	.responsive{
		width: 50%;
		float:left;

		@include mq_once(900px){
			width: 100%;
		}

		.half{
			width: 50%;
			float:left;

			@include mq(break3){
				width: 100%;
			}
		}
	}

}

/******** Works ********/
#works{
	color: $float-black;

	h1{
		margin-bottom: 15px;
		margin-top: 70px;

		@include mq(phone){
			margin-top: 20px;
		}
	}
	
	h2{
		font-size: 2em;
		margin-top: 20px;
		color: #415a77;
	}

	.container{
		max-width: 1140px;
		width: 100%;
	}

	.images-wrap{
		width: 100%;
	}

	.responsive{
		text-align:center;
		position:relative;
		width: 100%;
	}

	.icon-phone{
		$phone-height: 250px;
		height: $phone-height;
		width: $phone-height*0.488;
		position: absolute;
		z-index: 2;
		left:100px;
		bottom:0;
		transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		transition: left .5s $bezier;

		@include mq_once(925px){
			left: 50px;
		}

		@include mq_once(880px){
			margin-left: 2.5%;
			left: 0px;
		}

		@include mq(screens1){
			$phone-height: 250px * .9;
			height: $phone-height;
			width: $phone-height*0.488;
		}

		@include mq(screen2){
			$phone-height: 250px * .8;
			height: $phone-height;
			width: $phone-height*0.488;
		}

		@include mq(screens3){
			$phone-height: 250px * .7;
			height: $phone-height;
			width: $phone-height*0.488;
		}

		@include mq(screens4){
			$phone-height: 250px * .6;
			height: $phone-height;
			width: $phone-height*0.488;
		}

		@include mq(screens5){
			$phone-height: 250px * .5;
			height: $phone-height;
			width: $phone-height*0.488;
		}

		#icon-phone{
			width: 100%;
			height: 100%;
		}
	}
	.icon-desktop{
		$desktop-height: 400px;
		height:$desktop-height;
		width:$desktop-height*1.69;
		position: relative;
		display: inline-block;
		z-index: 1;
		right: 0;
		left: 0;
		transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		transition: left .5s $bezier;
		
		@include mq(screens1){
			$desktop-height: 400px * .9;
			height:$desktop-height;
			width:$desktop-height*1.69;
		}

		@include mq(screens2){
			$desktop-height: 400px * .8;
			height:$desktop-height;
			width:$desktop-height*1.69;
		}

		@include mq(screens3){
			$desktop-height: 400px * .7;
			height:$desktop-height;
			width:$desktop-height*1.69;
		}

		@include mq(screens4){
			$desktop-height: 400px * .6;
			height:$desktop-height;
			width:$desktop-height*1.69;
		}

		@include mq(screens5){
			$desktop-height: 400px * .5;
			height:$desktop-height;
			width:$desktop-height*1.69;
		}

		#icon-desktop{
			width: 100%;
			height: 100%;
		}
	}

	.icon-tablet{
		$tablet-height: 320px;
		height: $tablet-height;
		width: $tablet-height*0.7077;
		position: absolute;
		z-index: 2;
		right: 0;
		bottom: 0;
		transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		transition: right .5s $bezier;
		
		@include mq_once(1230px){
			margin-right: 50px;
		}

		@include mq(screens1){
			$tablet-height: 320px *.9;
			height: $tablet-height;
			width: $tablet-height*0.7077;
		}

		@include mq(screens2){
			$tablet-height: 320px *.8;
			height: $tablet-height;
			width: $tablet-height*0.7077;
		}

		@include mq(screens3){
			$tablet-height: 320px *.7;
			height: $tablet-height;
			width: $tablet-height*0.7077;
		}

		@include mq(screens4){
			$tablet-height: 320px *.6;
			height: $tablet-height;
			width: $tablet-height*0.7077;
		}

		@include mq(screens5){
			$tablet-height: 320px *.5;
			height: $tablet-height;
			width: $tablet-height*0.7077;
			margin-right: 2.5%;
		}

		#icon-tablet{
			width: 100%;
			height: 100%;
		}
	}

    .works-dots{
        text-align: center;
        margin-top: 20px;
        position: relative;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq(phone){
        	height: 40px;
        }

        .dot{
            width: 15px;
            height: 15px;
            border-radius: 15px;
            margin: auto 2px auto 2px;
            display: inline-block;
            background: rgba(255,125,37,0.3);
            vertical-align: middle;
            transition: background .2s ease-in-out;
        }

        .active{
            background: rgba(255, 125, 37, 1);
        }
    }
    .description{
        position: relative;
    }

	.icon-arrow{
		$arrow-height: 25px;
		height:$arrow-height;
		width: $arrow-height*0.47;
		margin: 0 10px;
        top: 0px;
        fill: rgba(255, 125, 37, 0.7);
		cursor: pointer;
        transition: fill .2s ease-in-out;

		&:hover{
			fill: rgba(255, 125, 37, 1);
		}

		@include mq(phone){
			$arrow-height: 40px;
			height:$arrow-height;
			width: $arrow-height*0.47;
			fill: rgba(255, 125, 37, 1);
		}
	}

	.icon-arrow.left{
		transform: rotate(180deg);
		left: 0;
	}

	.icon-arrow.right{
		right: 0;
	}

	#site-name, #site-desc{
		opacity: 1;
		transition: opacity .3s ease-in-out;
	}

	.fade-out{
		opacity: 0 !important;
		pointer-events: none;
	}

	.creek-content:after{
		content: "Creekside pizza needed a site to create a better pre-dining experience for their customers. The site is layed out so that someone can find exactly what they are looking for no matter what device they are using.";
	}

	.forge-content:after{
		content: "Working with the co-working space Forge Portland, we deployed a website that showcases their community outreach, while fostering growth through their business support programs.";
	}
}

/******** Contact ********/
#contact {
	text-align:center;
	background: url("../../images/orange-city.jpg")  center center no-repeat;
	background-size: cover;
	color: white;
	z-index:2;

	@include mq(phone){
		background: url("../../images/orange-city-mobile.jpg")  center center no-repeat;
		background-size: cover;
	}
	.center-wrapper{
	}

	.center-content{
		// background: $float-orange;
		margin: auto;
	}

	h1{
		@include mq(phone){
			margin-top: 30px;
		}
	}

	h4 {
		display: inline;
		padding: 0 20px 0 5px;
	}

	.success {
		margin: auto;
		max-width: 50%;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		color: #468847;
		background-color: #dff0d8;
		border: 1px solid #d6e9c6;
		border-radius: 4px;
	}

	.error {
		margin: auto;
		padding: 1em;
		max-width: 50%;
		//margin-bottom: 0.75rem;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		color: #b94a48;
		background-color: #f2dede;
		border: 1px solid rgba(185, 74, 72, 0.3);
		border-radius: 4px;
	}

	form {
		display: inline-block;
		width: 300px;
		max-width: 100%;
		color: $float-orange;
		

		.formtext, .description {
			width: 100%;
			height: 30px;
			padding-left: 10px;
			border: none;
			border-radius: 3px;
			box-sizing: border-box;
			background: $float-white;
			transition: background .1s ease-in-out;
		}

		.formtext{
			height: 30px;
		}

		.description {
			height: 200px;
			padding-top: 5px;
			resize: none;
		}

		::placeholder{
			color: $float-orange;
		}

		.formline {
			margin: 20px auto;
			width: 100%;
		}

		button {
		  border-radius: 3px;
		  border: 2px solid $float-white;
		  font-size: 0.9rem;
		  padding: 0.5rem 0.8em;
		  background: $float-white;
		  color: $float-orange;
		  -webkit-font-smoothing: antialiased;
		  font-weight: bold;
		  margin: 0;
		  width: 33%;
		  opacity: 1;
		}

		button:hover, button:focus {
		  opacity: 0.75;
		  cursor: pointer;
		}

		button:active {
		  opacity: 1;
		  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
		}
				
	}

	h3{
		font-size: 1.8em;
		margin:0;
	}

	p{
		max-width: 500px;
		margin: auto;
		font-weight: 400;

		@include mq(phone){
			max-width: 90%;
		}
	}

	p.number{
		margin-bottom: 30px;
		a{
			color: $float-white;
		}
	}

	input:focus, #description:focus{
		outline: none;
		background: $float-white-o;
		color: white;
		border-color: $float-orange;
	}
}
