<head>
	<title>float design</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<meta name="description" content="Small app development and design team out of Portland and Ashland, Oregon.">
	<meta name="keywords" content="app development, app design, Portland Oregon, Ashland Oregon, webdevelopment, webdesign, website, web site, float, float development, floatdev, float dev, float portland, float design, floatdesign">
	<meta name="author" content="float design">
    <link rel="icon" type="image" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/float-book.png"/>
    <link rel="stylesheet" type="text/css" href="css/global.css" />

	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300, 700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
